<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Project table data</title>
</head>
<body>
<div class="table-data">
    <h1>Project table data</h1>
    <table border="3">
        <tr>
            <th>Project id</th>
            <th>Name</th>
            <th>Description</th>
        </tr>

        <%
        if(userData.length!=0){
        userData.forEach(function(data){
        %>
        <tr>
            <td><%=data.id_Project%></td>
            <td><%=data.name %></td>
            <td><%=data.description %></td>
        </tr>
        <% }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
    </table>
</div>
</body>
</html>