<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script defer src = "../app.js"></script>
    <meta charset="UTF-8">
</head>

<body>
<h1>Insert Student</h1>
<form method="POST">
    <input id = "id_Student" name ="id_Student" placeholder="Student id"><br>
    <input id = "studentName" name ="studentName" placeholder="Name (2-30 symbols)"><br>
    <input id = "studentSurname" name ="studentSurname"  placeholder="Surname (2-30 symbols)"><br>
    <input id = "date_of_birth" name = "date_of_birth" placeholder="YYYY-MM-DD"><br>
    <button id = "button1" style="width:100px; height:25px" onclick="formData(); return false">Submit</button>
</form>
<script defer src = "../app.js"></script>
</body>
</html>