<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script defer src = "../app.js"></script>
    <meta charset="UTF-8">
</head>

<body>
<h1>Insert Student_project</h1>
<form method="POST">
    <input id = "id_Student_project" name="id_Student_project" placeholder="Student_project id"><br>
    <input id = "id_student" name="id_student" placeholder="Student id"><br>
    <input id = "id_project" name="id_project" placeholder="Project id"><br>
    <input size ="22" id = "role_of_student" name="role_of_student" placeholder="Student role (2-30 symbols)"><br>

    <button id = "button3" style="width:100px; height:25px" onclick="formData(); return false">Submit</button>
</form>
<script defer src = "../app.js"></script>
</body>
</html>