<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script defer src = "../app.js"></script>
    <meta charset="UTF-8">
</head>

<body>
<h1>Insert Project</h1>
<form method="POST" >
    <input id = "id_Project" name= "id_Project" placeholder="Project id"><br>
    <input id = "projectName" name= "projectName" placeholder="Name (1-30 symbols)"><br>
    <input size ="21" id = "projectDescription" name= "projectDescription" placeholder="Description (5-50 symbols)"><br>

    <button id = "button2" style="width:100px; height:25px" onclick="formData(); return false">Submit</button>
</form>
<script defer src = "../app.js"></script>
</body>
</html>